<h1>Bookshelf</h1>
<h2>All books</h2>

<div id="books">
  <% if books.any? %>
    <% books.each do |book| %>
      <div class="book">
        <h2><%= book.title %></h2>
        <p><%= book.author %></p>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">There are no books yet.</p>
  <% end %>
</div>